/* // No media query for `xs` since this is the default in Bootstrap */

/* // X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
    .header-area {
        padding: 15px 0;
        padding-bottom: 5px;
    }
    .mean-nav ul li a i{
        display: none;
    }
    .slider-text h2 {
        font-size: 43px;
    }
    .slider-text span {
        font-size: 15px;
    }
    .copyright-text p {
        font-size: 16px;
    }
    .page-title h1 {
        font-size: 36px;
    }
    .about-content {
        padding-top: 0;
    }
    .about-title h3 {
        font-size: 34px;
    }
    .cart-table table td {
        padding: 5px;
    }
    .product-delete{
        display: none;
    }
    .cart-minus,
    .cart-plus {
        display: block;
        margin: auto;
    }
    .cart-input {
        margin: 5px 0;
    }
    .product-quantity{
        display: none;
    }
    .product-tabs ul li {
        margin-right: 20px;
    }
} 
/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
        padding: 15px 0;
        padding-bottom: 5px;
    }
    .mean-nav ul li a i{
        display: none;
    }
    .about-content {
        padding-top: 0;
    }
    .cart-table table td {
        padding: 10px;
    }
    .product-delete{
        display: none;
    }
    .cart-minus,
    .cart-plus {
        display: block;
        margin: auto;
    }
    .cart-input {
        margin: 5px 0;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu {
        margin-left: 0;
        text-align: center;
    }
    .main-menu ul li ul.submenu{
        text-align: left;
    }
    .about-content {
        padding-top: 0;
    }
    .product-delete{
        display: none;
    }
    .cart-minus,
    .cart-plus {
        display: block;
        margin: auto;
    }
    .cart-input {
        margin: 5px 0;
    }
}
/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content {
        padding-top: 0;
    }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .about-content {
        padding-top: 0;
    }
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {} 
